<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" th:with="lang=${#locale.language}"
	th:lang="${lang}">
<body>
	<div id="dsgvo-cookie-information" hidden="true">
		<div class="w3-container">
			<p class="w3-col.s1">
				Diese Website verwendet Cookies – nähere Informationen dazu und zu
				Ihren Rechten als Benutzer finden Sie in der <a
					th:href="@{/datenschutz}" title="Datenschutzerklärung"
					class="w3-hover-text-green">Datenschutzerklärung</a>. Klicken Sie
				auf 'Zustimmen', um Cookies zu akzeptieren und die Website besuchen
				zu können.
			</p>
			<button class="w3-button w3-center w3-blue" onclick="set_cookie()">Zustimmen</button>
		</div>
		<script type="text/javascript">
				function set_cookie() {
					var d = new Date();
					d.setTime(d.getTime() + 30 * 24 * 60 * 60 * 1000);
					document.cookie = 'hidedsgvocookieinformation=1;expires='
							+ d.toGMTString() + ';path=/';
					jQuery('#dsgvo-cookie-information').slideUp();
				}
			</script>
		<script type="text/javascript">
				if (document.cookie.indexOf('hidedsgvocookieinformation=1') > -1) {
					jQuery('#dsgvo-cookie-information').prependTo('body');
					jQuery('#dsgvo-cookie-information-closer').hide();
				} else {
					jQuery('#dsgvo-cookie-information').show();
				}
			</script>
	</div>
</body>
</html>