<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" th:with="lang=${#locale.language}"
	th:lang="${lang}">

<head>

<body>
	<!-- Links (sit on top) -->
	<div class="w3-top">
		<div class="w3-center w3-padding w3-white" style="opacity: 0.5;">

			<a class="w3-button" href="mailto:info@bergischkopter.de"> <em class="fas fa-envelope"></em>
				info@bergischkopter.de
			</a>| <a class="w3-button" href="tel:+4915752658696"><em class="fas fa-phone"></em> +49 1575 2658696</a> |
			<a class="w3-button" href="https://www.instagram.com/bergischkopter"><em class="fab fa-instagram"></em></a>
			<a class="w3-button" href="https://www.facebook.com/bergischkopter"><em class="fab fa-facebook"></em></a>
		</div>

		<!-- Navbar on small screens (remove the onclick attribute if you want the navbar to always show on top of the content when clicking on the links) -->
		<div id="navElement" class="w3-bar-block w3-light-grey w3-hide w3-hide-large w3-hide-medium w3-top"
			style="margin-top: 50px">
			<a th:href="@{/}" class="w3-bar-item w3-button w3-padding-large" onclick="navigationClick()">Bergisch
				Kopter</a> <a th:href="@{/ueber-uns}" class="w3-bar-item w3-button w3-padding-large"
				onclick="navigationClick()">Über uns</a>
			<a th:href="@{/preise}" class="w3-bar-item w3-button w3-padding-large"
				onclick="navigationClick()">Preise</a><span class="w3-bar-item w3-padding-large">Einwilligungen</span>
			<a th:href="@{/einwilligung-luftaufnahmen}" class="w3-bar-item w3-button w3-padding-large"
				onclick="navigationClick()">&nbsp;&nbsp;&nbsp;Luftaufnahmen</a> <a th:href="@{/einwilligung-personen}"
				class="w3-bar-item w3-button w3-padding-large"
				onclick="navigationClick()">&nbsp;&nbsp;&nbsp;Personenaufnahmen</a>
			<a th:href="@{/einwilligung-ueberflug}" class="w3-bar-item w3-button w3-padding-large"
				onclick="navigationClick()">&nbsp;&nbsp;&nbsp;Überflüge</a> <a th:href="@{/referenzen}"
				class="w3-bar-item w3-button w3-padding-large" onclick="navigationClick()">Referenzen</a>
		</div>


		<div class="w3-center w3-light-grey w3-card" style="opacity: 0.8;">
			<a class="w3-bar-item w3-button w3-padding-large w3-hide-medium w3-hide-large w3-right"
				href="javascript:void(0)" onclick="navigationClick()" title="Toggle Navigation Menu"><i
					class="fa fa-bars"></i></a> <a th:href="@{/}"
				class="w3-bar-item w3-button w3-padding-large w3-hide-small">Bergisch Kopter</a>
			<a th:href="@{/ueber-uns}" class="w3-bar-item w3-button w3-padding-large w3-hide-small">Über
				uns</a>
			<a th:href="@{/preise}" class="w3-bar-item w3-button w3-padding-large w3-hide-small">Preise</a>
			<div class="w3-dropdown-hover w3-hide-small">
				<button class="w3-padding-large w3-button" title="More">
					Einverständnisse <i class="fa fa-caret-down"></i>
				</button>
				<div class="w3-dropdown-content w3-bar-block w3-card-4">
					<a th:href="@{/einwilligung-luftaufnahmen}" class="w3-bar-item w3-button">Luftaufnahmen</a>
					<a th:href="@{/einwilligung-personen}" class="w3-bar-item w3-button">Personenaufnahmen</a>
					<a th:href="@{/einwilligung-ueberflug}" class="w3-bar-item w3-button">Überflüge</a>
				</div>
			</div>
			<a th:href="@{/referenzen}" class="w3-bar-item w3-button w3-padding-large w3-hide-small">Referenzen</a>
			<div th:if="${@userService.isLoggedIn(#request)}" class="w3-dropdown-hover w3-hide-small">
				<button class="w3-padding-large w3-button" title="More">
					Administration <i class="fa fa-caret-down"></i>
				</button>
				<div class="w3-dropdown-content w3-bar-block w3-card-4">
					<a th:href="@{/admin}" class="w3-bar-item w3-button">Start</a> <a th:href="@{/admin/einstellungen}"
						class="w3-bar-item w3-button">Einstellungen</a>
					<a th:href="@{/admin/konfiguration}" class="w3-bar-item w3-button">Konfiguration</a> <a
						th:href="@{/admin/einwilligungen}" class="w3-bar-item w3-button">Einwilligungen</a>
					<a th:href="@{/logout}" class="w3-bar-item w3-button">Logout</a>
				</div>
			</div>
		</div>
	</div>
</body>

</html>